<div
  class="max-w-4xl mx-auto h-auto md:h-screen w-full md:flex gap-4 md:justify-center md:items-center"
>
  <!-- Contenedor de la izquierda: Resumen -->
  <div class="md:w-1/2 px-6 py-8">
    <div class="font-bold text-3xl mb-4">Acerca de Mi</div>
    <p class="text-gray-700 text-lg">
      Actualmente estoy cursando la carrera en Sistemas y Gestion de Data ademas
      de eso estoy desarrollando habilidades sólidas en programación y
      tecnologías web.
    </p>
    <p class="text-gray-700 text-lg">
      Aunque estoy al principio de mi carrera profesional, he adquirido
      conocimientos prácticos relacionadas con el desarrollo web. He trabajado
      en varios proyectos académicos que me han permitido aplicar mis
      habilidades y aprender de manera efectiva.
    </p>
  </div>
  <!-- Contenedor de la derecha: Imagen -->
  <div class="md:w-1/2 px-6 py-8">
    <img
      class="h-72 w-72 rounded-full mx-auto"
      src="https://cdn.pixabay.com/photo/2023/11/21/13/29/ai-generated-8403411_1280.jpg"
      alt="Imagen de perfil"
    />
  </div>
</div>
