<div class="bg-gray-100 py-12 h-auto md:h-screen">
  <div class="max-w-4xl mx-auto px-6">
    <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center">
      Mis Habilidades
    </h2>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      <!-- Habilidad 1 -->
      <div class="flex flex-col items-center">
        <img src="../src/img/html.png" alt="HTML" class="w-20 h-20 mb-4" />
        <h3 class="text-lg font-bold text-gray-800">HTML</h3>
      </div>

      <!-- Habilidad 2 -->
      <div class="flex flex-col items-center">
        <img src="../src/img/css.png" alt="CSS" class="w-20 h-20 mb-4" />
        <h3 class="text-lg font-bold text-gray-800">CSS</h3>
      </div>

      <!-- Habilidad 3 -->
      <div class="flex flex-col items-center">
        <img
          src="../src/img/javascript.png"
          alt="JavaScript"
          class="w-20 h-20 mb-4"
        />
        <h3 class="text-lg font-bold text-gray-800">JavaScript</h3>
      </div>

      <!-- Habilidad 4 -->
      <div class="flex flex-col items-center">
        <img src="../src/img/react.png" alt="React" class="w-20 h-20 mb-4" />
        <h3 class="text-lg font-bold text-gray-800">React</h3>
      </div>

      <div class="flex flex-col items-center">
        <img src="../src/img/git.png" alt="React" class="w-20 h-20 mb-4" />
        <h3 class="text-lg font-bold text-gray-800">GitHub</h3>
      </div>

      <div class="flex flex-col items-center">
        <img src="../src/img/tailwind.png" alt="React" class="w-20 h-20 mb-4" />
        <h3 class="text-lg font-bold text-gray-800">Tailwind Css</h3>
      </div>

      <div class="flex flex-col items-center">
        <img src="../src/img/python.png" alt="React" class="w-20 h-20 mb-4" />
        <h3 class="text-lg font-bold text-gray-800">Python</h3>
      </div>

      <div class="flex flex-col items-center">
        <img src="../src/img/astro.png" alt="React" class="w-20 h-20 mb-4" />
        <h3 class="text-lg font-bold text-gray-800">Astro</h3>
      </div>
    </div>
  </div>
</div>
